body {
  font-family: sans-serif;
}

main {
  background-color: #232323;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 20rem;
}

main input {
  display: grid;
  margin: 3px;
  width: 6rem;
  background-color: #ddd;
  place-content: center;
  font-size: 5rem;
}
